{% assign selectedPicture = app.metafields.products_images.images %}

{% if template == 'index' %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <h2 style="margin-left: 44%; color:{{ block.settings.colour }};">Happy New Year!</h2>
    <p style="margin-left: 38%; color:{{ block.settings.colour }};">We wish you happiness and success in the new year!</p>
    <a href="/collections/all" class="button">Show products</a>
  </div>
</div>


<style>
  .modal {
    display: block; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }

  .modal-content {
    background-image: url({{selectedPicture}});
    background-size: cover;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .button {
    background-color: #4CAF50;
    color: white;
    margin-left: 45%;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
{% endif %}

{% schema %}
{
  "name": "Modal",
  "target": "body",
  "settings": [
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

